@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  color: var(--clr-font);
  background-color: var(--clr-secondary);
  margin: 0;
  padding: 1rem;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --clr-primary: #05396b;
  --clr-secondary: #5cdb94;
  --clr-accent: #8de4af;
  --clr-font: #edf5e0;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

/* -------- main section */
.main_section {
  display: flex;
  margin: 2rem 50px 0 50px;
  padding: 0;
  gap: 3rem;
}

.dashboard {
  flex: 1.5 0;
}

.new_score {
  flex: 2;
}

.user_list {
  border: 2px solid var(--clr-primary);
}

.user_list .user {
  padding: 0.3rem 0.6rem;
  background-color: #50c583;
  color: var(--clr-primary);
  font-weight: bold;
}

.user .user__name {
  width: 7ch;
  display: inline-block;
}

.user_list .user:nth-child(even) {
  background-color: var(--clr-accent);
}

.dashboard__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard__header h2,
.score_form h2 {
  margin-bottom: 1rem;
}

.score_form {
  width: 55%;
}

.btn_container {
  text-align: end;
}

.score_form .score_input {
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-primary);
  width: 100%;
  display: block;
  margin-bottom: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 0.6rem;
  outline: none;
  border-radius: 2px;
  border: none;
}

/* --------- Components ---------- */

.btn {
  padding: 0.4rem 0.8rem;
  outline: none;
  border: 1px solid #333;
}

.btn--primary {
  color: var(--clr-secondary);
  background-color: #05396b;
  outline: none;
  border: none;
  border-radius: 2px;
  transition: all 0.4s linear;
}

.btn--primary:hover {
  transform: rotate(-10deg);
}
